.card_title {
  color: #495057;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.card_subtitle {
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #6c757d;
  font-size: large;
}
